<h1>Add new Artist</h1>
<%= form_for @artist, url: "/billboards/#{@billboard.id}/artists" do |a|%>
  <%= a.label :name%>
  <%= a.text_area :name%>

  <%= a.label :genre%>
  <%= a.text_area :genre%>

  <%= a.submit%>
<% end %>