<h1>Artist Name: <%= @artist.name %></h1>
<h3>Artist Genre: <%=@artist.genre%></h3>
<% @artist.songs.each do |song|%>
<%= link_to song.name, artist_song_path(@artist, song)%>
<%end%>

<%= link_to "Edit Artist", edit_billboard_artist_path(@billboard, @artist)%>
<%= link_to "Delete Artist", billboard_artist_path(@billboard, @artist), method: :delete%>
<%= link_to "Add songs to artist", new_artist_song_path(@artist)%>
<%= link_to "Back to Billboard", billboard_path(@billboard)%>
