<h1><%= @billboard.title%></h1>
<% @billboard.artists.each do |a|%>
<%= link_to a.name, billboard_artist_path(@billboard, a) %>
<%end%>

<%= link_to "Edit Billboard", edit_billboard_path(@billboard)%>
<%= link_to "Add new Artist", new_billboard_artist_path(@billboard)%>
<%= link_to "Delete", billboard_path(@billboard), method: :delete%>

<%= link_to "Go Back to Billboards", billboards_path%>

